*.swp
.DS_Store
.cache
tmp/
site

# intellij files
.idea
.idea_modules/
*.ipr
*.iws
*.iml
out

# rat library install location
lib/

__pycache__/
*.py[cod]
.eggs/
.tox/
env/
venv/
*.egg-info/
test-reports
build/
dist/
sdist/
.coverage
coverage.xml
.pytest_cache/

# vscode/eclipse files
.classpath
.project
.settings
bin/
.vscode/

# Hive/metastore files
metastore_db/

# Spark/metastore files
spark-warehouse/
derby.log

# Python stuff
.mypy_cache/
htmlcov

pyiceberg/avro/decoder_fast.c
pyiceberg/avro/*.html
pyiceberg/avro/*.so
